**Using pandas as required libraries**

In [120]:
import pandas as pd
import numpy as np

**Load raw data to assess the quality**

In [121]:
data = pd.read_excel('kpmg_raw_data.xlsx')

**Reading each files separately**

In [122]:
transactions = pd.read_excel('kpmg_raw_data.xlsx', "Transactions")
newcust = pd.read_excel('kpmg_raw_data.xlsx', 'NewCustomerList')
cust_demo = pd.read_excel('kpmg_raw_data.xlsx', 'CustomerDemographic')
address = pd.read_excel('kpmg_raw_data.xlsx', 'CustomerAddress')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  This is separate from the ipykernel package so we can avoid doing imports until



1.   Explore **Transactions** dataset

In [123]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [124]:
transactions.shape

(20000, 13)

In [125]:
transactions.duplicated().sum()

0

there are no duplicate values, this dataset is unique

Explore transactions' columns

In [126]:
#transaction_date
transactions['transaction_date'].value_counts()

2017-02-14    82
2017-08-18    82
2017-10-15    76
2017-01-31    73
2017-12-19    71
              ..
2017-01-12    38
2017-12-07    37
2017-03-29    36
2017-09-25    35
2017-10-19    32
Name: transaction_date, Length: 364, dtype: int64

In [127]:
#online_order
transactions['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [128]:
#order_status
transactions['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [129]:
#brand
transactions['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [130]:
#product_line
transactions['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [131]:
#product_class
transactions['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [132]:
#product_size
transactions['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [133]:
#list_price
transactions['list_price'].max()

2091.47

In [134]:
transactions['list_price'].min()

12.01

In [135]:
#standard_cost
transactions['standard_cost'].min()

7.21

In [ ]:
transactions['standard_cost'].max()

1759.85

from the min and max values of **standard_cost**, just make it sense with the min and max of **list_price**'s values

In [136]:
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], unit ='s')
transactions['product_first_sold_date'].head(20000)

0       1970-01-01 11:27:25
1       1970-01-01 11:35:01
2       1970-01-01 10:06:01
3       1970-01-01 10:02:25
4       1970-01-01 11:43:46
                ...
19995   1970-01-01 10:30:23
19996   1970-01-01 09:52:40
19997   1970-01-01 11:13:30
19998   1970-01-01 10:36:56
19999   1970-01-01 10:05:34
Name: product_first_sold_date, Length: 20000, dtype: datetime64[ns]

those data in column **product_first_sold_date** are not correct, the date are all the same. But, because we have the column **transaction_date** as date, we can extract the **product_first_sold_date** from datetime to time.

In [137]:
transactions['sold_time'] = transactions['product_first_sold_date'].dt.time
transactions.drop(columns=['product_first_sold_date'], inplace=True)
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,sold_time
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,11:27:25
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,11:35:01
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,10:06:01
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,10:02:25
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,11:43:46

2.   Explore **NewCustomerList** dataset

In [138]:
newcust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [139]:
newcust.shape

(1000, 23)

In [140]:
newcust.drop(['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18','Unnamed: 19','Unnamed: 20'], axis=1, inplace=True)

Unnamed columns has been dropped

In [141]:
newcust.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [ ]:
newcust.shape

(1000, 18)

In [142]:
newcust.rename(columns={"Rank":"rank"}, inplace=True)

In [143]:
newcust.rename(columns={"Value":"value"}, inplace=True)

In [144]:
newcust.duplicated().sum()

0

This dataset is unique. **NOW** lets explore NewCustomerList's columns

In [145]:
#gender
newcust['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [146]:
# date_of_birth
newcust['DOB'].sort_values(ascending=False)

354   2002-02-27
396   2002-01-17
763   2002-01-04
475   2001-12-29
996   2001-10-17
         ...
775          NaT
835          NaT
883          NaT
904          NaT
984          NaT
Name: DOB, Length: 1000, dtype: datetime64[ns]

In [147]:
# date_of_birth
newcust['DOB'].sort_values(ascending=True)

797   1938-06-08
885   1938-06-09
769   1938-08-05
585   1938-08-30
265   1938-08-31
         ...
775          NaT
835          NaT
883          NaT
904          NaT
984          NaT
Name: DOB, Length: 1000, dtype: datetime64[ns]

It make sense, the eldest was born in 1939 and the youngest was in 2002

In [148]:
#job_industry_category
newcust['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [149]:
#wealth_segment
newcust['wealth_segment'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segment, dtype: int64

In [ ]:
#deceased_indicator
newcust['deceased_indicator'].value_counts()

N    1000
Name: deceased_indicator, dtype: int64

In [ ]:
#owns_car
newcust['owns_car'].value_counts()

No     507
Yes    493
Name: owns_car, dtype: int64

In [ ]:
#tenure
newcust['tenure'].value_counts()

9     79
13    74
11    68
10    63
12    61
5     60
7     60
17    59
15    58
8     55
14    54
16    49
6     45
4     36
18    36
19    34
3     26
21    24
20    22
2     15
22    12
1      8
0      2
Name: tenure, dtype: int64

In [ ]:
#postcode
newcust['postcode'].value_counts()

2145    9
2232    9
2750    7
3977    7
2148    7
       ..
2576    1
2479    1
3065    1
2762    1
4215    1
Name: postcode, Length: 522, dtype: int64

In [ ]:
#state
newcust['state'].value_counts()

NSW    506
VIC    266
QLD    228
Name: state, dtype: int64

In [ ]:
#country
newcust['country'].value_counts()

Australia    1000
Name: country, dtype: int64




3.   Explore **CustomerDemographic** dataset

In [ ]:
cust_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [ ]:
cust_demo.shape

(4000, 13)

In [ ]:
cust_demo.duplicated().sum()

0

This dataset is unique.

Explore **CustomerDemographic's** columns

In [150]:
#gender
cust_demo["gender"] = cust_demo['gender'].replace("Femal", "Female").replace('M','Male').replace('F','Female')
cust_demo['gender'].value_counts()

Female    2039
Male      1873
U           88
Name: gender, dtype: int64

In [151]:
#dob
cust_demo['DOB'].sort_values()

33     1843-12-21
719    1931-10-23
1091   1935-08-22
3409   1940-09-22
2412   1943-08-11
          ...
3778          NaT
3882          NaT
3930          NaT
3934          NaT
3997          NaT
Name: DOB, Length: 4000, dtype: datetime64[ns]

There's a costumer with age over **170+ year-old?!**, it isn't make sense, we have to delete it.

In [152]:
cust_demo.drop(cust_demo[cust_demo.DOB < '1845-12-21'].index, inplace=True)

In [153]:
cust_demo['DOB'].sort_values()

719    1931-10-23
1091   1935-08-22
3409   1940-09-22
2412   1943-08-11
657    1944-01-24
          ...
3778          NaT
3882          NaT
3930          NaT
3934          NaT
3997          NaT
Name: DOB, Length: 3999, dtype: datetime64[ns]

the 170+ year-old customer has been deleted

In [ ]:
#job_title
cust_demo['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [ ]:
#job_industry_category
cust_demo['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    222
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [ ]:
#wealth_segment
cust_demo['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     978
Name: wealth_segment, dtype: int64

In [ ]:
#deceased_indicator
cust_demo['deceased_indicator'].value_counts()

N    3997
Y       2
Name: deceased_indicator, dtype: int64

In [ ]:
#default
cust_demo['default'].value_counts()

100                                       113
1                                         112
-1                                        111
-100                                       99
Ù¡Ù¢Ù£                                     53
                                         ...
testâ testâ«                               31
/dev/null; touch /tmp/blns.fail ; echo     30
âªâªtestâª                                 29
ì¸ëë°í ë¥´                                 27
,ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ           25
Name: default, Length: 90, dtype: int64

Those data are abstract, we can't get a clear insight from that.

In [ ]:
cust_demo.drop(columns=['default'], axis=1, inplace=True)
cust_demo.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0

In [ ]:
#owns_car
cust_demo['owns_car'].value_counts()

Yes    2024
No     1975
Name: owns_car, dtype: int64

In [ ]:
#tenure
cust_demo['tenure'].value_counts()

7.0     235
5.0     228
11.0    221
10.0    218
16.0    215
8.0     211
18.0    208
12.0    202
9.0     200
14.0    200
6.0     192
13.0    191
4.0     191
17.0    182
15.0    179
1.0     166
3.0     160
19.0    159
2.0     150
20.0     95
22.0     55
21.0     54
Name: tenure, dtype: int64



4.   Explore **CustomerAddress** dataset

In [112]:
address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [113]:
address.shape

(3999, 6)

In [115]:
address.duplicated().sum()

0

In [114]:
address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

Ecplore **CostumerAddress'** columns

In [116]:
#postcode
address['postcode'].value_counts()

2170    31
2155    30
2145    30
2153    29
3977    26
        ..
3808     1
3114     1
4721     1
4799     1
3089     1
Name: postcode, Length: 873, dtype: int64

In [117]:
#state
address['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [118]:
#country
address['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [119]:
#property_valuation
address['property_valuation'].value_counts()

9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64

**All the columns appear to have consistent and correct information.**